@import url('./__text/intro__text.css');
@import url('./__text-list/intro__text-list.css');
@import url('./__title/intro__title.css');
@import url('./__text-second/intro__text-second.css');
.intro {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1440px) {
    .intro {
        margin: 80px auto 102px auto;
        width: 985px;
    }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
    .intro {
        margin: 80px 529px 97px 148px;
        max-width: 683px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        margin: 80px 48px 92px 48px;
        max-width: 928px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        margin: 77px 30px 100px 18px;
        max-width: 720px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .intro {
        width: calc(100% - 32px);
        margin: 64px auto 55px auto;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .intro {
        width: calc(100% - 32px);
        margin: 64px auto;
    }
}